*{
    margin:10px;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.image {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 400px;
    max-width: 100%;
  }
  
  .header {
    text-align: center;
  }
  
  /* Media query for smaller screens */
  @media (max-width: 600px) {
    .image {
      width: 100%;
    }
  }